.screen__header{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin: 0px 5px 10px 5px;
}

.screen__header__icons span{
    font-size:17px;
    margin-left:15px;
}

.screen__header__title{
    font-size:25px;
    font-weight: 600;
}